:root {
	--prime: #00634e;
	--accent: #6666ff;
	--light: ivory;
	--gray: #f8f9fa;
	--text: #333;
}

/***********  Text Colors **************/

.txt-prime {
	color: var(--prime);
}

.txt-accent {
	color: var(--accent);
}

.txt-light {
	color: var(--accent);
}

.txt,
p,
span {
	color: var(--text);
}

h1,
h2,
h3,
h4,
h1 > a,
h2 > a,
h3 > a,
h4 > a {
	color: var(--text);
}

/******** Links and Buttons Colors *****************/

a {
	color: var(--prime);
}

a:hover {
	color: var(--second);
}

/***************** Background Colors ******************/

.bg-prime {
	background-color: var(--prime);
}

.bg-accent {
	background-color: var(--accent);
}

.bg-gray {
	background-color: var(--gray);
}

.bg-light {
	background-color: var(--light);
}

/********** Borders and Shadows ***************/

.brd-tp {
	border-top: 1px solid var(--prime);
}

.bx-shadow {
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

/******************** Shapes ********************/

.wave {
	position: absolute;
	inset: 0;
	z-index: 1;

	contain: paint;
	pointer-events: none;

	/* helps some browsers keep this on its own composited layer */
	transform: translateZ(0);

	--size: 50px;
	--b: 10px;
	--m: 0.5;
	--p: calc(var(--m) * var(--size));
	--R: calc(var(--size) * sqrt(var(--m) * var(--m) + 1) + var(--b) / 2);

	--_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;

	/* Safari/iOS */
	-webkit-mask:
		radial-gradient(var(--R) at left 50% bottom calc(-1 * var(--p)), var(--_g))
			calc(50% - 2 * var(--size)) calc(50% - var(--size) / 2 - var(--b) / 2) / calc(4 * var(--size))
			calc(var(--size) + var(--b)),
		radial-gradient(var(--R) at left 50% top calc(-1 * var(--p)), var(--_g)) 50%
			calc(50% + var(--size) / 2 + var(--b) / 2) / calc(4 * var(--size))
			calc(var(--size) + var(--b));

	/* everyone else */
	mask:
		radial-gradient(var(--R) at left 50% bottom calc(-1 * var(--p)), var(--_g))
			calc(50% - 2 * var(--size)) calc(50% - var(--size) / 2 - var(--b) / 2) / calc(4 * var(--size))
			calc(var(--size) + var(--b)),
		radial-gradient(var(--R) at left 50% top calc(-1 * var(--p)), var(--_g)) 50%
			calc(50% + var(--size) / 2 + var(--b) / 2) / calc(4 * var(--size))
			calc(var(--size) + var(--b));

	background: linear-gradient(90deg, rgba(230, 211, 163, 0.6), rgba(176, 224, 230, 0.6));
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
