:root {
	--prime: #00634e;
	--accent: #6666ff;
	--light: ivory;
	--gray: #f8f9fa;
	--text: #333;
}

/***********  Text Colors **************/

.txt-prime {
	color: var(--prime);
}

.txt-accent {
	color: var(--accent);
}

.txt-light {
	color: var(--accent);
}

.txt,
p,
span {
	color: var(--text);
}

h1,
h2,
h3,
h4,
h1 > a,
h2 > a,
h3 > a,
h4 > a {
	color: var(--text);
}

/******** Links and Buttons Colors *****************/

a {
	color: var(--prime);
}

a:hover {
	color: var(--second);
}

/***************** Background Colors ******************/

.bg-prime {
	background-color: var(--prime);
}

.bg-accent {
	background-color: var(--accent);
}

.bg-gray {
	background-color: var(--gray);
}

.bg-light {
	background-color: var(--light);
}

/********** Borders and Shadows ***************/

.brd-tp {
	border-top: 1px solid var(--prime);
}

.bx-shadow {
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
