.flex {
	display: flex;
}

.flex.equal > div {
	flex: 1;
}

.flex.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex.right {
	justify-content: right;
	text-align: right;
}

.flex.left {
	justify-content: left;
	text-align: left;
}
