@media (--desk) {
	.grid {
		/* dead simple, very responsive layout */
		display: grid;
		gap: 1rem;
	}

	.grid.three {
		/*three column layout */
		grid-template-columns: repeat(auto-fit, minmax(clamp(33% - 1rem, 250px, 100%), 1fr));
	}
}
