@import './styles/vars.css';

@import './styles/reset.css';
@import './styles/layout.css';

@import './styles/typography.css';

/* @import './styles/colors.css'; */
@import './styles/btn.css';

@import './styles/lists.css';
@import './styles/space.css';
@import './styles/images.css';
@import './styles/modifiers.css';

/*

@import './styles/radius.css';
@import './styles/shadows.css';
@import './styles/forms.css';
@import './styles/modifiers.css';*/
